@import "./colors.jss";

.layout {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.checkout {
  display: flex;
  gap: 1em;
  align-items: center;
}

.totalPrice {
  flex: 1;
  font-size: 1.2rem;
}

.price {
  font-weight: 800;
}

.checkoutButton {
  background-color: var(--red);
  color: #fff;
  border: 0;
  padding: 0.75em 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
}

.checkoutButton:hover {
  background-color: var(--red2);
  transition: background-color 250ms;
}

.entries {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.entry {
  display: flex;
  gap: 1em;
  padding: 1em;
  border-top: 1px solid var(--border);
}

.productImage {
  width: 80px;
  height: 80px;
  object-fit: scale-down;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}

.entryHeader {
  display: flex;
  gap: 1em;
}

.title {
  font-size: 1.3rem;
  display: flex;
  align-items: start;
  margin-bottom: 0.7em;
}

.entryHeader h2 {
  text-align: start;
  flex: 1;
  font-weight: 500;
  font-size: 1.1rem;
}

.entryButtons {
  display: flex;
  gap: 1em;
}

.removeButton {
  background: none;
  border: 0;
  cursor: pointer;
  text-decoration: underline;
  color: var(--accent);
}

.removeButton:hover {
  text-decoration: none;
}

@media (width < 400px) {
  .entryButtons {
    justify-content: space-between;
  }

  .productImage {
    width: 40px;
    height: 40px;
	}

	.entryHeader h2 {
		font-size: 0.9rem;
	}
}

.emptyMessage {
  font-size: 1rem;
}
