@import "./colors.jss";

.container {
  /* background-color: var(--accent); */
  color: #fff;
  padding: 0.3em 1em;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  gap: 0.25em;
  position: relative;
  border: 1px solid var(--border);
  justify-self: flex-end;
}

.container:hover {
  color: #fff;
}

.amount {
  width: 1.25em;
  height: 1.25em;
  background-color: var(--red);
  font-weight: bold;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.2em;
  right: 0.4em;
}
